// layout/_general.scss
@import "../utilitaires/variables"; // Notez l'omission du "_" et de l'extension
// Vous pouvez maintenant utiliser la variable $black ici

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;
}

html,
body {
  background-color: $black;
  width: 100%;
  background-image: url("../images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  // cursor: none;
}

ul {
  list-style: inside;
}

svg {
  width: 1.5rem;
  height: auto;
}

svg:hover {
  path {
    fill: $white;
  }
}

.svg__no-click {
  pointer-events: none;
}

path {
  fill: rgba($white, 0.6);
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  flex-direction: column;
  align-items: center;
}

.container__container {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
