// layout/_general.scss
@import "../utilitaires/variables"; // Notez l'omission du "_" et de l'extension
// Vous pouvez maintenant utiliser la variable $black ici

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  background-color: $black;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
}

.background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  cursor: none;
}

svg {
  width: 1.5rem;
}

path {
  fill: rgba($white, 0.6);
}
