@charset "UTF-8";
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Général **/
:root {
  /* Couleurs de base */
  --white: #ffffff;
  --black: #141414;
  --grey: #545454;
  --red: #ec1e1e;
  --green: #42ff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  background-image: url("../images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

a {
  text-decoration: none;
}

ul {
  list-style: inside;
}

svg {
  width: 1.5rem;
  height: auto;
}

svg:hover path {
  fill: white;
}

.svg__no-click {
  pointer-events: none;
}

path {
  fill: rgba(255, 255, 255, 0.6);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-left {
  padding-bottom: 14rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 14rem;
  gap: 3rem;
}

.container-entete {
  display: flex;
  padding-top: 14rem;
  padding-bottom: 14rem;
  justify-content: center;
}
.container-entete p {
  width: 80%;
}

.container__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

video {
  width: 25%;
  height: auto;
}

.img-diplome {
  width: 25%;
  height: fit-content;
}

@media (min-width: 768px) {
  * {
    cursor: none;
  }
  a {
    cursor: none;
  }
}
/** Cursor **/
.cursor-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  transition: width 0.4s, height 0.4s;
}

.cursor-outline {
  width: 3rem;
  height: 3rem;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  transition: width 0.4s, height 0.4s;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
}

.cursor-dot-hover {
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid grey;
}

.cursor-outline-hover {
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
}

/** Hero **/
.hero {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.hero__navbar {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  align-items: center;
}

.hero__navbarcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero__navbarcontainer__logo {
  height: 100%;
}

.hero__navbarcontainer__metanav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.hero__navbarcontainer__metanav svg {
  margin-top: 3px;
  height: 100%;
}

.hero__container-titre {
  padding: 3rem;
  display: flex;
  align-items: center;
}

.hero__container-titre {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hero__container-scroll {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  padding: 3rem;
  z-index: 1;
}

.hero__line {
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
}

rect {
  fill: white;
}

.openHamburger {
  display: flex;
  padding: 3rem;
}

.openHamburger__div {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

/** Accueil **/
.container-entete__element {
  display: flex;
  justify-content: space-between;
}

.container-left__axes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 24rem;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.container-left__axes-container__pourcent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  video {
    width: 50%;
  }
  .cours {
    flex-direction: column !important;
    align-items: normal !important;
  }
  .cours button {
    max-width: 7rem;
  }
}
@media (max-width: 800px) {
  .container-entete__element {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 14rem;
  }
  .container-entete__element p {
    width: 100% !important;
  }
  video {
    width: 75%;
  }
  .h3-accueil {
    width: 100% !important;
  }
}
.container-temoignages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  padding-bottom: 14rem;
}

.container-temoignage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 24rem;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.container-temoignage__texte {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h3-accueil {
  width: 45%;
}

/** Form **/
fieldset {
  border: none;
}

input,
select:focus-visible {
  outline: none;
}

input,
select,
textarea {
  color: white;
}

input,
select {
  background-color: rgba(255, 255, 255, 0.3);
  border-style: none;
  border-radius: 4px;
  height: 2.5rem;
  padding-left: 1rem;
}

span {
  display: contents;
  color: rgba(255, 0, 0, 0.8);
}

span.retro__message-correct {
  color: #42ff00;
}

input.erreur {
  background-color: rgba(255, 0, 0, 0.2);
}

.container-retro_message {
  background-color: rgba(66, 255, 0, 0.2);
  border-style: none;
  border-radius: 4px;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-erreur_messageJS {
  background-color: rgba(236, 30, 30, 0.2);
  border-style: none;
  border-radius: 4px;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.form-contact {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.form__nom-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__courriel-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__destinataire-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__telephone-container {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.form__sujet-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__consentement-envoyer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__consentement-container-plus-erreur {
  display: contents;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}

.form__consentement-container {
  display: none;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.form__envoyer-container {
  display: flex;
  justify-content: center;
}

.form__humain-container-plus-erreur {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}

.form__humain-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.nom__message,
.courriel__message erreur {
  color: red;
  font-size: 0.8rem;
}

/** Projets **/
.container-projets {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-between;
  padding-bottom: 14rem;
}

.container-filtre {
  top: 3rem;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container-filtre__triage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-filtre__infos-2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 50%;
}

.triage {
  width: fit-content;
}

.container-filtre__submit {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container-images__ul {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.container-images__container {
  position: relative;
  list-style: none;
  width: fit-content;
}

.img-projet {
  width: 100%;
  height: 100%;
  max-width: 600px;
  object-fit: cover;
  border-radius: 4px;
}

.container-images__infos {
  display: none;
  z-index: 1;
  position: absolute;
  text-align: center;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  width: 101%;
  height: 101%;
  transition: 0.3s ease-in-out;
  color: #f6f6f5;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
}

.container-filtre__infos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 50%;
}

.container-images__h3 {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

input[type=radio] {
  opacity: 0;
  display: none;
}

label {
  display: flex;
  width: fit-content;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: white;
}

label.triage {
  display: flex;
  width: fit-content;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: white;
}

label:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

label:target {
  background-color: rgba(255, 255, 255, 0.3);
}

input[type=radio]:checked + label {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 900px) {
  .container-projets {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
}
.techs-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
}

.techs {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.img-techno {
  width: 4rem;
}

/** Projet **/
.container-projet__entete {
  padding-bottom: 14rem;
  max-width: 800px;
}

.container-projet__etapes {
  margin-left: 3rem;
  margin-right: 3rem;
}

.container-projets-associes {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 14rem;
}

.container-images__ul-projet {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-entete__images-projets {
  width: fit-content;
  display: flex;
  gap: 1rem;
}

.container-etapes {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin: 3rem;
}

.container-etapes__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-etapes__infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

@media (max-width: 1250px) {
  .container-etapes__element {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    align-items: normal;
  }
  .container-etapes__infos {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .container-etapes__infos {
    width: 75%;
  }
  .container-diplome__infos {
    width: 100% !important;
  }
}
.container-diplome__infos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 65%;
}

/** Stages **/
.container__stages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-bottom: 14rem;
}

.container__container-stages {
  display: flex;
  flex-direction: column;
}

.container__container-titre {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.container__container-info {
  display: none;
}

.container__container-contenu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container__container-infos {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.line {
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

/** Footer **/
.footer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-footer__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-footer__meta-socials {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.ul-footer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.logo-cepeg {
  width: clamp(8rem, 10vw, 12rem);
}

.container-footer__tim-img {
  width: clamp(14rem, 30vw, 28rem);
}

.a-none {
  padding-bottom: 0;
}

.a-none:hover {
  --_p: 0%;
}

.footer__line {
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .container-footer__meta {
    width: 100%;
    gap: 3rem;
  }
  .ul-footer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-evenly;
  }
  .container-footer__meta-socials {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-evenly;
  }
  .container-footer__meta-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/**** UTILITAIRES ****/
/** Variables **/
:root {
  /* Couleurs de base */
  --white: #ffffff;
  --black: #141414;
  --grey: #545454;
  --red: #ec1e1e;
  --green: #42ff00;
}

/****** BASE ******/
/** Typographie **/
:root {
  /* Couleurs de base */
  --white: #ffffff;
  --black: #141414;
  --grey: #545454;
  --red: #ec1e1e;
  --green: #42ff00;
}

@font-face {
  font-family: "Satochi";
  src: url("../public/font/Satoshi-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Satochi";
  src: url("../public/font/Satoshi-Bold.otf") format("truetype");
}
body {
  font-family: "Satochi", sans-serif;
  color: var(--white);
}

h1 {
  font-size: clamp(2.5rem, 8vw, 11rem);
  text-transform: uppercase;
  animation-name: fade-up;
  animation-duration: 1800ms;
  animation-timing-function: ease-out;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2 {
  font-size: clamp(2rem, 6vw, 5rem);
}

h3 {
  font-size: clamp(1rem, 2vw, 2rem);
}

.hero__navbarcontainer__logo p {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.hero__navbarcontainer__metanav a {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

a {
  --s: 0.1em; /* the thickness of the line */
  --c: #fff; /* the color */
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

a:hover {
  --_p: 100%;
}

/** Boutons **/
button {
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: white;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/****** MODULES ******/

/*# sourceMappingURL=styles.css.map */
