.hero {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.hero__navbar {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  align-items: center;
}

.hero__navbarcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero__navbarcontainer__logo {
  height: 100%;
}

.hero__navbarcontainer__metanav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.hero__navbarcontainer__metanav svg {
  margin-top: 3px;
  height: 100%;
}

.hero__container-titre {
  padding: 3rem;
  display: flex;
  align-items: center;
}
.hero__container-titre {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hero__container-scroll {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  padding: 3rem;
  z-index: 1;
}

.hero__line {
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba(white, 0.1);
  position: absolute;
}

rect {
  fill: white;
}

.openHamburger {
  display: flex;
  padding: 3rem;
}

.openHamburger__div {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
