.container-projet__entete {
  padding-bottom: 14rem;
  max-width: 800px;
}

.container-projet__tech {
  padding-bottom: 14rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.container-projet__etapes {
  margin-left: 3rem;
  margin-right: 3rem;
}
