@import "../utilitaires/variables";

// Import Satochi regular font
@font-face {
  font-family: "Satochi";
  src: url("../public/font/Satoshi-Regular.otf") format("truetype");
}

// Import Satochi bold font
@font-face {
  font-family: "Satochi";
  src: url("../public/font/Satoshi-Bold.otf") format("truetype");
}

body {
  font-family: "Satochi", sans-serif;
  color: $white;
}

// Logo
.hero__navbarcontainer__logo p {
  text-transform: uppercase;
  font-size: 1.5rem;
}

// MetaNav
.hero__navbarcontainer__metanav a {
  font-size: 1.2rem;
  color: $white;
}
